*.[ao]
config.mk
po/*.mo
stfl/*.h
newsboat
podboat
test/http-test-server
test/test
test/testlog.txt
xlicense.h
html/*
*.info
doc/newsboat-cfgcmds.asciidoc
doc/newsboat-keycmds.asciidoc
doc/newsboat.1
doc/podboat-cfgcmds.asciidoc
doc/podboat.1
doc/xhtml/*
doc/example-config
doc/configcommands-linked.asciidoc
doc/availableoperations-linked.asciidoc
doc/cmdline-commands-linked.asciidoc
doc/podboat-cmds-linked.asciidoc
*.gcov
*.gcno
*.gcda
*.sw?
/target/
**/*.rs.bk
.vscode
/cppcheck.log
*.dSYM
/.deps/
/compile_flags.txt
*.profraw
