# Do not include some of the developer-oriented files in release tarballs
/.github/ export-ignore
/git-hooks/ export-ignore
/snap/ export-ignore
/.editorconfig export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.travis.yml export-ignore
/.cirrus.yml export-ignore
/submit-to-coveralls.sh export-ignore
/docker/ export-ignore
/.astylerc export-ignore
/.rustfmt.toml export-ignore
