*.[ao]
config.mk
po/*.mo
stfl/*.h
newsboat
podboat
test/test
test/test-rss
test/testlog.txt
xlicense.h
html/*
*.info
doc/newsbeuter-cfgcmds.txt
doc/newsbeuter-keycmds.txt
doc/newsbeuter.1
doc/podbeuter-cfgcmds.txt
doc/podbeuter.1
doc/xhtml/*
*.gcov
*.gcno
*.gcda
*.sw?
