*.[ao]
config.mk
po/*.mo
stfl/*.h
Newsboat
Podboat
test/http-test-server
test/test
test/testlog.txt
xlicense.h
html/*
*.info
doc/Newsboat-cfgcmds.asciidoc
doc/Newsboat-keycmds.asciidoc
doc/Newsboat.1
doc/Podboat-cfgcmds.asciidoc
doc/Podboat.1
doc/xhtml/*
doc/example-config
doc/gen-example-config
doc/generate
doc/generate2
doc/configcommands-linked.asciidoc
doc/availableoperations-linked.asciidoc
doc/cmdline-commands-linked.asciidoc
doc/Podboat-cmds-linked.asciidoc
*.gcov
*.gcno
*.gcda
*.sw?
/target/
**/*.rs.bk
.vscode
/cppcheck.log
*.dSYM
/.deps/
/compile_flags.txt
*.profraw
